.page-title {
  text-align: center;
  margin: 20px;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;

  .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 200px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;

    &:hover .content-container {
      bottom: 0;
      transition-delay: 0s;
      cursor: pointer;
    }

    &:hover .content-container .contentBx h3 {
        opacity: 1;
        transform: translateY(0px);
    }

    &:hover .content-container .sci {
        transform: translateY(0px);
        opacity: 1;
        border: 1px solid #867cc1;
        padding: 5px;
        border-radius: 10px;
    }

    .image-container {
        position: relative;
        height: 100%;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .content-container {
      position: absolute;
      bottom: -135px;
      width: 100%;
      height: 125px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
      flex-direction: column;
      backdrop-filter: blur(15px);
      box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.2);
      transition: bottom 0.5s;
      transition-delay: 0.3s;

      .contentBx {
        h3 {
        color: #fff;
        text-transform: capitalize;
        letter-spacing: 2px;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        margin: 10px 0 5px;
        line-height: 1.1em;
        transition: 0.5s;
        opacity: 0;
        transform: translateY(-20px);
        transition-delay: 0.5s;
        }

        span {
            font-size: 12px;
            font-weight: 300;
            text-transform: initial;
        }

        
      }

      .sci {
            position: relative;
            bottom: 0x;
            display: flex;
            transform: translateY(40px);
            opacity: 0;
            transition-delay: 0.3s;

            a {
                color: #d3d3d3;
                font-size: 15px;
                text-decoration: none;
            }
        }
    }
  }
}
